* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 50px 20px 80px 90px;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.hero-img {
  background-image: url("./assets/images/image-web-3-desktop.jpg");
  width: 100%;
  grid-column: 1/3;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 23px;
  margin-right: 6rem;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

a:hover {
  color: hsl(5, 85%, 63%);
}

li a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

.sec-aside {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 2rem;
}

h2 {
  margin-bottom: 3rem;
  color: hsl(35, 77%, 62%);
  font-size: 40px;
}

.btn-p {
  margin-bottom: 3rem;
}

button {
  padding: 12px 37px;
  background-color: hsl(5, 85%, 63%);
  border: none;
  letter-spacing: 3px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.btn-div {
  grid-column: 2/3;
}

h3 {
  margin-bottom: 1rem;
  cursor: pointer;
}

p {
  font-size: 15px;
  line-height: 1.9;
  color: hsl(233, 8%, 79%);
}

.aside-p {
  margin-bottom: 2rem;
}

hr {
  margin-bottom: 18px;
}

h4 {
  font-size: 40px;
  color: hsl(233, 8%, 79%);
}

h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  cursor: pointer;
}

h5:hover {
  color: hsl(5, 85%, 63%);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  /* place-content: center; */
}

h1 {
  grid-row: 2/3;
}

aside {
  grid-row: 1/3;
  grid-column: 3/4;
}

.last-img-div {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 900px) {
  nav ul {
    display: none;
  }

  body {
    margin: 2rem auto;
  }

  header {
    margin: 2rem;
  }

  .hamburger-menu {
    display: flex;
  }

  .hero-img {
    background-image: url("./assets/images/image-web-3-mobile.jpg");
    width: 100%;
    height: 70vh;
  }

  main {
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  aside {
    grid-row: 4/6;
    grid-column: 3/4;
  }

  h1 {
    grid-row: 2/3;
  }

  .btn-div {
    grid-column: 2/3;
  }

  .last-img-div {
    display: flex;
    flex-direction: column;
  }

  h4 {
    text-align: center;
  }

  h5 {
    text-align: center;
  }
}
