:root {
    /* Primary colors */
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Neutral colors */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* Texts */
    --Font-size: 18px
    --font-family: "Public Sans", sans-serif;
    --font-weight-300: 300;
    --font-weight-400: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;;
}

button {
  padding: 1.4rem 2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 8rem;
  border: none;
  color: var(--White);
}

.menu-icon {
  display: none;
}

main {
  position: relative;
  overflow: hidden;
}

.hero {
  position: absolute;
  right: -40%;
  top: -20%;
}

.sidekick {
  position: absolute;
  right: -15%;
  top: -10%;
}

.h1-div {
  padding: 7rem;
  height: 68rem;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  margin-bottom: 2rem;
  font-weight: var(--font-weight-400);
  font-size: 5rem;

}

h1 + p {
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 18px;
}

.flex-div {
  display: flex;
  gap: 9rem;
  padding-top: 8rem;
}

.flex-div-ancestor {
  padding: 10rem 6rem;
  background-color: var(--Light-Grayish-Blue);
}

.flex-div-ancestor > h2 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 4rem;
  font-weight: var(--font-weight-400);
}

.flex-icon {
  margin-bottom: 3rem;
}

.flex-div-ancestor2 {
  background-color: var(--Very-Light-Gray);
  padding: 10rem 5rem;
}

.flex-div2 {
  display: flex;
  gap: 3rem;
}

.Individual-article {
  background-color: var(--White);
}

h3 {
  font-size: 5rem;
  font-weight: var(--font-weight-400);
  padding-bottom: 5rem;
}

.Article-img {
  width: 100%;
  height: 25rem;
  margin-bottom: 4rem;
}

.Article-last-descendant {
  padding: 3rem;
}

h4 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: var(--font-weight-400);
}

.Article-last-descendant > p {
  color: var(--Grayish-Blue);
}

.Footer {
  display: flex;
  background-color: var(--Dark-Blue);
  height: 20rem;
  justify-content: space-between;
  padding: 6rem 16rem;
}

.Footer-img {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.media-svg {
  display: flex;
  gap: 3rem;
}

.Footer-p {
  color: var(--White);
  line-height: 2;
  font-size: 1.9rem;
}

.btn-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width:900px) {

  header {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 1rem;
  }

  img {
    width: 100%;
  }

  nav ul {
    display: none;
  }
  nav + button {
    display: none;
  }

  .menu-icon {
    display: flex;
    width: 5rem;
    height: 2rem;
  }
  
main {
  position: relative;
  width: 100%;
}

.hero {
  position: absolute;
  left: -5%;
  top: -1%;
}

.sidekick {
  position: absolute;
  right: -6%;
  top: -3%;
}

.h1-div {
  margin-top: 29rem;
  text-align: center;
  padding: 3rem;
}

.flex-div-ancestor {
  text-align: center;
}

.flex-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-icon {
  width: 35%;
}

h3 {
  text-align: center;
}

.flex-div2 {
  display: flex;
  flex-direction: column;
}

.Footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 80rem;
  text-align: center;
}

.Footer-img {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.Footer-p {
  color: var(--White);
  line-height: 2;
  font-size: 1.9rem;
}

}